@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --cpm:oklch(0.747 0.109 290.1);
  --cpb:oklch(0.634 0.173 260.7);

}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

.wallet-adapter-button-trigger {
  height: auto !important;
  @apply !border !bg-background !shadow-xs hover:!bg-accent !text-accent-foreground hover:!text-accent-foreground dark:!bg-input/30 !border-input/10 dark:!border-input dark:hover:!bg-input/50;
  @apply !px-2 !py-[6px] !rounded-md !text-sm !font-semibold !shadow-sm !transition-all;
}

.sl0{
  background-image: url(https://assets.codepen.io/3685267/betting-app-wccettuo.png);
  
}
.sl1{
  background-image: 
    linear-gradient(90deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0) 100%), 
  url(https://assets.codepen.io/3685267/betting-app-vgnrodzy.png);
}
.sl2{
  background-image: url(https://assets.codepen.io/3685267/betting-app-zzbnyktk.png);
}
.sl3{
  background-image: url(https://assets.codepen.io/3685267/betting-app-ahiryyst.png);
}



.sidebar-circ{

background: #3A3A3A;
border: 1px solid #484848;
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

}

.menu-item-main{
  background: #151515;
  cursor: pointer;
 
}
.menu-item-main:hover{
  background: linear-gradient(176.15deg, #2F2F2F 2.85%, #292929 104.97%);
}

.menu-item-main:hover .menu-item-main-icon{
 
background: linear-gradient(180deg, #E4A704 0%, #FE7A00 100%);
color: #222;
border: none;
}

.menu-item-main .menu-item-main-icon{
  background: #393939;
 color: #b3b3b3;
 border: 1px solid #444;
}



.plus-circ{
background: linear-gradient(180deg, #E4A704 0%, #FE7A00 100%);
color: #373739;
}


.profile-sec{
  background: linear-gradient(180deg, #353535 0%, #222222 100%);
}


.profile-img-container{
  background: linear-gradient(180deg, #E4A704 0%, #FE7A00 100%);
}


.gen-chat{
      background: linear-gradient(to bottom, #E4A704, #FE7A00);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}



.chat-header-cover{
  background: rgba(34, 34, 34, 0.7);
backdrop-filter: blur(2px);
border-top-left-radius: 24px;
border-top-right-radius: 24px;
}


.menu-item-with-icon{
   opacity: 0;
  transform: scale(1);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}


.menu-item-main:hover .menu-item-with-icon{
   opacity: 1;
  transform: scale(1.3);
}


.menu-item-with-image{
   opacity: 0;
  right:68px;
  top:6px;
  transform: scale(1);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.menu-item-main:hover .menu-item-with-image{
   opacity: 1;
  transform: scale(3.1);
}


.animated-swiper-item{
  transform: scale(1);
  transition: transform 0.3s ease-out;
}
.animated-swiper-item:hover{
  transform: scale(1.1);
  cursor: pointer;

}


.yellow-gradient-1{
  background: linear-gradient(180deg, #FFBE28 0%, #FF7C00 100%);
}
.gray-gradient{
   background:linear-gradient(180deg, #525252 0%, #525252 100%)
}

.custom-shadow-1{
  box-shadow: 10px 11px 9.9px rgba(0, 0, 0, 0.25);
}
.custom-shadow-2{
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
}
.custom-shadow-3{
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
}

.custrombg{
  background-color: #222222;
}



.titem{
  height: 112px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translate(0px, 600px);
  opacity: 0;
}

.cpm {
  background: var(--cpm);
}